<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Form\Account">
        <plugin name="after_order_create_comment" type="WilliamsCommerce\OrderBy\Plugin\Sales\Block\Adminhtml\Order\Create\Form\AccountPlugin" sortOrder="10"/>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
      <arguments>
          <argument name="columns">
              <item name="order_by" xsi:type="string">sales_order.order_by</item>
          </argument>
      </arguments>
    </virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="orderbylist_order_listing_data_source" xsi:type="string">WilliamsCommerce\OrderBy\Model\ResourceModel\OrderbyList\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="WilliamsCommerce\OrderBy\Model\ResourceModel\OrderbyList\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">orderby</argument>
            <argument name="resourceModel" xsi:type="string">WilliamsCommerce\OrderBy\Model\ResourceModel\OrderbyList</argument>
        </arguments>
    </virtualType>
</config>